
<div>
    <table>
    <tr>
       <td><button  [disabled]="!enablePrev" (click)="first()">Première</button></td>
        <td><button  [disabled]="!enablePrev" (click)="prev()">Précedent</button></td>
        <td><button  [disabled]="!enableNext" (click)="next()">Suivant</button> </td>
        <td><button  [disabled]="!enableNext" (click)="last()">Dernière</button> </td>
    </tr>

    <tr>
      <td colspan="2"> image size: {{size}}px</td>
    </tr>
    </table>
</div>

<div class="slidecontainer">
  <input (input)="zoom($event)"  title="zoom" type="range" min="10" max="400" [value]="size" class="slider" id="myRange">
</div>


<div  >
  <table>
  <tr>
     <td *ngFor="let icon of urls; index as i; first as isFirst" class="iconcontainer">  {{i}}
      <div *ngIf="isSelected(i);then selected else normal" ></div>
      <ng-template #selected><img src={{icon}} class="imgBorder" width="70" alt="miniatures" (click)="select(i)"></ng-template>
      <ng-template #normal><img src={{icon}} width="50" alt="miniatures" (click)="select(i)"></ng-template>
     </td>
     </tr>
    </table>
  </div>
