td {
  text-align: center;
  vertical-align: middle;
}

table { margin: auto; }

div{
/* border: 1px dashed white; */
  border-radius: 5px;
  text-align: center;
}

.slidecontainer {
  margin: auto;
  width: 80%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.iconcontainer {

  text-align: center;
  padding: 5px;
}

.imgborder {
  border:5px double black;

}
