
<div class="container">
    <div class="text-center">
        <h1>Chronomètre</h1>
        <hr>
        <h1>
            {{timer.minutes}} min
            {{timer.secondes}} sec
        </h1>
        <br>
        <table>
            
                <col width="80px" />
              <col width="80px" />
                <col width="80px" />
                <tr>
              <td  > <button  *ngIf="enableBackward" (click)="backward()">Effacer </button> </td>
              <td><button  *ngIf="enableStop" (click)="stop()">Arrêter</button></td>
              <td><button  *ngIf="enablePlay" (click)="play()">{{_btnPlay}}</button></td>
                </tr>

                <tr>
                    <td  > <button  [disabled]="!enableBackward" (click)="backward()">Effacer</button> </td>
                    <td><button  [disabled]="!enableStop" (click)="stop()">Arrêter</button></td>
                    <td><button  [disabled]="!enablePlay" (click)="play()">{{_btnPlay | uppercase }}</button></td>
                      </tr>
                </table>
    </div>
</div>
